

.app {
  max-width: 400px;
  margin:0.auto;
  text-align: center;
}
.app label {
  text-align: left;
  display: block;
}
.app h1 {
  font-size: 20px;
  color: blue;
  margin-bottom : 30px;
}
.app h2 {
  font-size: 20px;
  color:red;
  margin-bottom : 30px;
}
.app h3 {
  font-size: 20px;
  color: red;
  margin-bottom : 30px;
}


.app input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid brown;
  box-sizing: border-box;
  display: block;
}
.app button{
  
  color: green;
  border: 0;
  padding : 8px;
  border-radius: 8px;
  cursor: pointer;
}
.card{
  background-color: gray;

  min-width: 100px;
  min-height: 150px;
  text-indent: -9999px;
}
.greencard{
  background-color:green;

  min-width: 100px;
  min-height: 150px;
  text-indent: -9999px;
}
.redcard{
  background-color: red;

  min-width: 100px;
  min-height: 150px;
  text-indent: -9999px;
}
.bg-red{background-color:red}
.bg-green{background-color:green}

