.app {
  max-width: 400px;
  margin: 0auto;
  text-align: center;
}
.app label {
  text-align: left;
  display: block;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.app h1 {
  font-size: 40px;
  color: blue;
  margin-bottom: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}
.app h2 {
  font-size: 20px;
  color: red;
  margin-bottom: 30px;
  text-align: center;
  font-family:fantasy;
}
.app h3 {
  font-size: 20px;
  color: green;
  margin-bottom: 30px;
  text-align: center;
}
.app h4 {
  font-size: 20px;
  color: purple;
  margin-bottom: 30px;
  text-align: right;
  
}

.app input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid brown;
  box-sizing: border-box;
  display: block;
}
.app button {
  
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  

}
.card {
  background-color: gray;
  min-width: 100px;
  min-height: 150px;
  cursor: pointer;
  margin: 10px;
}
.greencard {
  background-color: green;
  min-width: 100px;
  min-height: 150px;
  font-size: 25px;
  color: white;
  font-weight: bold;
  
}
.redcard {
  
  background-color: red;
  min-width: 100px;
  min-height: 150px;
  font-size: 25px;
  color: white;
  font-weight: bold;
  
}

.retry{
  background-color:green;
}
.exit{
  background-color:wheat;
}
.start{
  background-color: green;
}